.game-header {
    height: 60px;
    text-align: center;
    font-size: 36px;
    background-color: white;
    color: purple;
    font-family: 'Space Grotesk', sans-serif;
}

.main-content {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    border: 1px solid black;
    height: 680px; 
    width: 1200px;
    border-radius: 5px;
    background-color: rgb(41, 39, 39);
    margin-bottom: 40px;
    display: flex;
}

.left-container {
    border: 1px solid #301934;
    width: 60%;
    height: 95%;
    margin-left: 2%;
    margin-top: 1.5%;
    border-radius: 8px;
    background-color: whitesmoke;
    display: flex;
}

.right-container {
    border: 1px solid darkgray;
    width: 34%;
    height: 95%;
    margin-top: 1.5%;
    margin-left: 2%;
    border-radius: 8px;
    background-color: #301934;
}

.left-inner-container {
    border: 1px solid darkgoldenrod;
    width: 70%;
    height: 95%;
    margin-top: 1.5%;
    margin-left: 2%;
    background-color: rgb(133, 118, 153);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    z-index: 2
}

#cocktail-ingredients {
    /* border: 1px solid hotpink;
    width: 70%;
    height: 95%;
    margin-top: 1.5%;
    margin-left: 2%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6px;
    /* align-items: center; */
}

#shaker-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    top: 68px;
}

.remove-1 {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.cocktail-shaker-container {
    height: 95%;
    margin-top: 1.5%;
    width: 255px;
    /* background-image: url("../images/bar-ingredients/shaker.png"); */
}

.ingredient-box {
    color: rgb(133, 118, 153);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1px;
}

.ingredient-box-image {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-top: 15px; 
    object-fit: cover;
    opacity: 80%;
}

.ingredient-box-2{
    color: white;
    font-size: 1px;
    font-family: 'Space Grotesk', sans-serif;
}

.ingredient-box-image3 {
    width: 130px;
    height: 130px;
    border-radius: 4px;
    margin-top: 15px; 
    object-fit: cover;
}

.customer {
    width: 200px;
    height: 270px;
    object-fit: cover;
}

.order {
    color: whitesmoke;
    font-size: 30px;
    /* margin: 70px 20px; */
    font-family: 'Space Grotesk', sans-serif;
    /* border: 1px solid hotpink; */
    width: 180px;
    height: 80px;
    /* margin-left: 10px; */
    /* text-align: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position : relative;
    top: -250px;
    left: 130px; */
}

.timer {
    color: white;
    font-size: 50px;
    margin: 70px 20px;
}

.outer-modal {
    display: block;
    position: fixed;
    z-index: 1; 
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.85);
    font-family: 'Space Grotesk', sans-serif;
}

.inner-modal {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 625px;
    border-radius: 10px;
}

.outer-modal2 {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.85);
}

.inner-modal2 {
    background-color: lightgray;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 400px;
    border-radius: 10px;
}

.modal-heading {
    color: purple;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-family: inherit;
}

.modal-instruction {
    color: purple;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-family: inherit;
}

#button {
    width: 250px;
    height: 70px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: purple;
    border: none;
    font-family: inherit;
    position: relative;
}

#button3 {
    width: 250px;
    height: 70px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: none;
    font-family: inherit;
    margin-left: 10px;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#button:hover, #button3:hover {
    cursor: pointer;
    filter: brightness(105%);
    /* background-color: purple;
    color: white; */
    top: -2px;
}

#button:focus, #button3:focus {
    outline: none;
}

#cocktail-ingredients img:hover,
#shaker-lists img:hover,
#clear:hover  {
    cursor: pointer;
}

.ingredient-box-image3:hover {
    cursor: pointer;
}

.shaker-back {
    position: absolute;
    right: 32.5%;
    top: 34%;
}

.time-score-container, .customer-order-container {
    display: flex;
    justify-content: space-evenly;
}

.score-container {
    color: white;
    font-size: 40px;
    margin: 70px 20px;
    font-family: 'Space Grotesk', sans-serif;
    /* border: 1px solid hotpink; */
    width: 100px;
    padding-left: 45px;
}

.timer-container {
    width: 100px;
    /* border: 1px solid hotpink; */
}

.img-modal {
    width: 100px;
    height: 100px;
}

.performance-container {
    width: 100px;
    height: 50px;
    /* border: 1px solid hotpink; */
    margin-top: 70px;
    padding-left: 45px;
}

.danger, .warning, .good {
    font-family: 'Space Grotesk', sans-serif;
    color: green;
    font-size: 30px;
}

.instruction-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.instruction-img-2 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding-bottom: 15px;
}

.instruction-img-lime {
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding-bottom: 15px;
    margin-left: 4px;
    margin-right: 4px;
}

.instruction-answer {
    font-family: inherit;
    font-size: 40px;
    color: black;
    padding-bottom: 55px;
    position: relative;
    top: -22px;
}

.recipe-instruction-container {
    margin-left: 14%;
}

.recipe-instruction-outer-container {
    margin-top: 20px;
}

footer {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}
