.game-header {
    height: 60px;
    text-align: center;
    font-size: 36px;
    background-color: white;
    color: purple;
    font-family: 'Space Grotesk', sans-serif;
}

.main-content {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    border: 1px solid black;
    height: 640px; 
    width: 1200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(34, 33, 33);
}

.game-canvas {
    height: 350px;
    width: 1150px;
    margin-left: 23px;
    margin-top: 23px;
    border-radius: 5px;
    background-image: url('../images/club.jpg');
    filter: brightness(90%);
    opacity: 60%;
    object-fit: cover;
}

.game-bar {
    height: 257px; 
    width: 1150px;
    margin-top: 23px;
    margin-left: 23px;
    margin-bottom: 23px;
    border-radius: 5px;
    background-color: rgb(7, 28, 47);
}

.game-tab-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 15%;
    height: 100%;
    border-radius: 5px;
}

.tabButton {
    width: 100px;
    height: 50px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: purple;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
}

.tabButton:hover {
  filter: brightness(135%);
  top: -3px;
}

.tabcontent-outer-container {
  display: none;
}

.tabcontent-inner-container {
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-top: -200px; 
}

.pour-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.cocktail-button {
    border: 1px dashed darkseagreen;
    width: 100px;
    height: 50px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.cocktail-button:hover {
    background-color: firebrick;
}

#wine li {
    color: yellow;
    font-family: 'Space Grotesk', sans-serif;
}
.beer-container, .wine-container, .mixer-container, .garnish-container, .base-container, .flavor-container {
    margin-top: -40px;
}

#beer-heading, #wine-heading, #mixer-heading, #garnish-heading, #base-heading, #flavor-heading{
    font-family: 'Space Grotesk', sans-serif;
    color: limegreen;
    padding: 5px;
    font-size: 25px;
    border-bottom: 1px solid hotpink;
    margin-bottom: 15px;
}

#beer li, #wine li, #mixer li, #garnish li, #base li, #flavor li {
    color: yellow;
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    padding: 5px;
    transition: font-size 0.5s;
}

#beer li:hover, #wine li:hover, #mixer li:hover, #garnish li:hover, #base li:hover, #flavor li:hover {
    font-size: 20px;
    cursor: pointer;
    filter: brightness(135%);
}