.game-header {
    height: 60px;
    text-align: center;
    font-size: 36px;
    background-color: white;
    color: purple;
    font-family: 'Space Grotesk', sans-serif;
}

.main-content {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    border: 1px solid black;
    height: 640px; 
    width: 1200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(34, 33, 33);
}

.game-canvas {
    height: 350px;
    width: 1150px;
    margin-left: 23px;
    margin-top: 23px;
    border-radius: 5px;
    background-image: url('../images/club.jpg');
    filter: brightness(90%);
    opacity: 60%;
    object-fit: cover;
}

.game-bar {
    border: 1px dashed red;
    height: 257px; 
    width: 1150px;
    margin-top: 23px;
    margin-left: 23px;
    margin-bottom: 23px;
    border-radius: 5px;
}

.game-tab-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid darkslateblue;
    width: 15%;
    height: 100%;
}

.tabButton {
    border: 1px dashed darkseagreen;
    width: 100px;
    height: 50px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.tabButton:hover {
  background-color: #ddd;
}

.tabcontent-outer-container {
  display: none;
}

.tabcontent-inner-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 300px;
    margin-top: -200px; 
}

.pour-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.cocktail-button {
    border: 1px dashed darkseagreen;
    width: 100px;
    height: 50px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.cocktail-button:hover {
    background-color: firebrick;
}

#wine li {
    color: yellow;
}